<?xml version="1.0" encoding="utf-8"?>
<module name="Geta.Epi.MediaReferenceSelector" productName="Geta.Epi.MediaReferenceSelector" type="Geta.Epi.MediaReferenceSelector.MediaReferenceSelectorModule, Geta.Epi.MediaReferenceSelector" clientResourceRelativePath="" loadFromBin="false">
  <assemblies>
    <add assembly="Geta.Epi.MediaReferenceSelector" />
  </assemblies>
  <dojo>
    <paths>
      <add name="geta-epi-mediareferenceselector" path="ClientResources" />
    </paths>
  </dojo>
</module>